n8n/workflows/get-scan-by-id.json
{
  "name": "Get Scan By ID",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-scan/:scanId",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get-scan",
      "name": "Webhook: Get Scan",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "get-scan-by-id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM reputation_reports WHERE scan_id = '{{ $parameter.scanId }}'",
        "options": {}
      },
      "id": "postgres-query",
      "name": "PostgreSQL: Get Scan Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "l4mcv4XhAixvuZBL",
          "name": "Repazoo PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.length > 0 ? { success: true, scan: $json[0] } : { success: false, error: 'Scan not found' } }}"
      },
      "id": "respond-webhook",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: Get Scan": {
      "main": [
        [
          {
            "node": "PostgreSQL: Get Scan Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL: Get Scan Details": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
