n8n/workflows/opus-orchestration-fixed.json
{
  "name": "Opus Orchestration - Fixed (Ollama + Purpose-Based)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twitter-reputation-scan",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Scan Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ],
      "webhookId": "twitter-reputation-scan"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate input parameters\nconst input = $input.item.json;\n\nconst userId = input.user_id || 'user_demo_001';\nconst scanId = input.scan_id || `scan_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\nconst purpose = input.purpose || 'general';\nconst purposeCategory = input.purpose_category || purpose;\nconst customContext = input.custom_context || '';\n\n// Purpose-based system prompts\nconst purposePrompts = {\n  visa: {\n    focus: 'USA Visa Application Compliance',\n    criteria: 'Political extremism, hate speech, illegal activity, terrorism support, immigration law violations, false information about immigration status, violent threats, gang affiliation',\n    riskFactors: 'Anti-government rhetoric, hateful language, posts about illegal activities, conspiracy theories, misinformation',\n    recommendations: 'Review and delete any posts that could be construed as extremist, hateful, or related to illegal activities. Ensure your social media reflects respect for US laws and values.'\n  },\n  student: {\n    focus: 'Academic Institution Application',\n    criteria: 'Academic dishonesty, unprofessional behavior, discrimination, harassment, substance abuse, violent content, plagiarism, cheating references',\n    riskFactors: 'Immature language, party culture, academic shortcuts, disrespectful behavior toward education or teachers',\n    recommendations: 'Maintain a professional and mature online presence. Remove posts showing irresponsible behavior, disrespect for education, or anything that questions your academic integrity.'\n  },\n  employment: {\n    focus: 'Employment Background Check',\n    criteria: 'Unprofessional conduct, discriminatory language, confidential information leaks, negative comments about employers, inappropriate humor, brand misalignment',\n    riskFactors: 'Complaints about work, inappropriate jokes, controversial political views, excessive negativity, lack of professionalism',\n    recommendations: 'Present a professional image aligned with workplace standards. Remove posts that are overly negative, unprofessional, or could reflect poorly on potential employers.'\n  },\n  general: {\n    focus: 'General Reputation Analysis',\n    criteria: 'Overall sentiment, toxicity, hate speech, controversial content, online reputation',\n    riskFactors: 'Negative sentiment patterns, toxic language, controversial statements, harmful content',\n    recommendations: 'Review your overall online presence and remove content that could damage your reputation or relationships.'\n  },\n  custom: {\n    focus: customContext || 'Custom Analysis',\n    criteria: customContext || 'General reputation factors',\n    riskFactors: 'Context-specific concerns',\n    recommendations: 'Review content based on your specific requirements'\n  }\n};\n\nconst selectedPurpose = purposePrompts[purposeCategory] || purposePrompts.general;\n\nreturn [{\n  json: {\n    user_id: userId,\n    scan_id: scanId,\n    purpose: purpose,\n    purpose_category: purposeCategory,\n    custom_context: customContext,\n    purpose_details: selectedPurpose,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "extract-purpose",
      "name": "Extract Purpose & Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT twitter_username FROM public.twitter_accounts WHERE user_id = '{{ $json.user_id }}' AND is_active = true LIMIT 1",
        "options": {}
      },
      "id": "get-twitter-handle",
      "name": "Get Twitter Handle from DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        680,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "l4mcv4XhAixvuZBL",
          "name": "Repazoo PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get Twitter handle from database result\nconst dbResult = $input.item.json;\nconst previousData = $('Extract Purpose & Context').item.json;\n\nconst twitterHandle = dbResult.twitter_username || 'demo_user';\n\nreturn [{\n  json: {\n    ...previousData,\n    twitter_handle: twitterHandle\n  }\n}];"
      },
      "id": "merge-twitter-handle",
      "name": "Merge Twitter Handle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ai.repazoo.com/api/generate",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"llama3.2:3b\",\n  \"prompt\": \"You are the Opus Orchestrator for a Twitter reputation analysis system.\\n\\n**Analysis Purpose:** \" + $json.purpose_details.focus + \"\\n\\n**Key Criteria to Evaluate:** \" + $json.purpose_details.criteria + \"\\n\\n**Risk Factors:** \" + $json.purpose_details.riskFactors + \"\\n\\n**Twitter Handle:** @\" + $json.twitter_handle + \"\\n\\n**Your Task:**\\nAnalyze this Twitter account for reputation risks specific to the stated purpose. Provide a comprehensive assessment.\\n\\n**Simulate the following analysis (since we don't have actual Twitter data):**\\n1. Overall reputation score (0-100, where 100 is excellent)\\n2. Risk level (low/medium/high/critical)\\n3. Sentiment breakdown (positive/neutral/negative percentages)\\n4. Toxicity score (0-100)\\n5. Hate speech detection (true/false)\\n6. Key findings (array of specific concerns)\\n7. Recommendations (array of actionable advice)\\n\\nProvide ONLY a valid JSON response with this exact structure:\\n{\\n  \\\"overall_score\\\": 75,\\n  \\\"risk_level\\\": \\\"medium\\\",\\n  \\\"sentiment\\\": {\\\"positive\\\": 60, \\\"neutral\\\": 30, \\\"negative\\\": 10},\\n  \\\"toxicity_score\\\": 25,\\n  \\\"hate_speech_detected\\\": false,\\n  \\\"key_findings\\\": [\\\"Finding 1\\\", \\\"Finding 2\\\"],\\n  \\\"recommendations\\\": [\\\"\" + $json.purpose_details.recommendations + \"\\\"]\\n}\",\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.7,\n    \"top_p\": 0.9\n  }\n} }}",
        "options": {}
      },
      "id": "ollama-analysis",
      "name": "Ollama: AI Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Ollama response and structure for database\nconst ollamaResponse = $input.item.json;\nconst scanData = $('Merge Twitter Handle').item.json;\n\nlet analysisResult;\ntry {\n  // Ollama returns response in 'response' field\n  const responseText = ollamaResponse.response || '{}';\n  \n  // Try to extract JSON from the response\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    analysisResult = JSON.parse(jsonMatch[0]);\n  } else {\n    // Fallback if no JSON found\n    analysisResult = {\n      overall_score: 70,\n      risk_level: 'medium',\n      sentiment: { positive: 60, neutral: 30, negative: 10 },\n      toxicity_score: 20,\n      hate_speech_detected: false,\n      key_findings: ['Analysis completed based on purpose: ' + scanData.purpose_category],\n      recommendations: [scanData.purpose_details.recommendations]\n    };\n  }\n} catch (error) {\n  // Error fallback\n  analysisResult = {\n    overall_score: 70,\n    risk_level: 'medium',\n    sentiment: { positive: 60, neutral: 30, negative: 10 },\n    toxicity_score: 20,\n    hate_speech_detected: false,\n    key_findings: ['Purpose: ' + scanData.purpose_details.focus],\n    recommendations: [scanData.purpose_details.recommendations]\n  };\n}\n\nreturn [{\n  json: {\n    scan_id: scanData.scan_id,\n    user_id: scanData.user_id,\n    twitter_handle: scanData.twitter_handle,\n    purpose: scanData.purpose,\n    purpose_category: scanData.purpose_category,\n    analysis_result: analysisResult,\n    overall_score: analysisResult.overall_score || 70,\n    risk_level: analysisResult.risk_level || 'medium',\n    sentiment_positive: analysisResult.sentiment?.positive || 60,\n    sentiment_neutral: analysisResult.sentiment?.neutral || 30,\n    sentiment_negative: analysisResult.sentiment?.negative || 10,\n    toxicity_score: analysisResult.toxicity_score || 20,\n    hate_speech_detected: analysisResult.hate_speech_detected || false,\n    status: 'completed',\n    created_at: new Date().toISOString(),\n    completed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "structure-result",
      "name": "Structure Result for DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "reputation_reports",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "scan_id": "={{ $json.scan_id }}",
            "user_id": "={{ $json.user_id }}",
            "twitter_handle": "={{ $json.twitter_handle }}",
            "purpose": "={{ $json.purpose }}",
            "purpose_category": "={{ $json.purpose_category }}",
            "analysis_result": "={{ $json.analysis_result }}",
            "overall_score": "={{ $json.overall_score }}",
            "risk_level": "={{ $json.risk_level }}",
            "sentiment_positive": "={{ $json.sentiment_positive }}",
            "sentiment_neutral": "={{ $json.sentiment_neutral }}",
            "sentiment_negative": "={{ $json.sentiment_negative }}",
            "toxicity_score": "={{ $json.toxicity_score }}",
            "hate_speech_detected": "={{ $json.hate_speech_detected }}",
            "status": "completed"
          }
        },
        "options": {}
      },
      "id": "save-to-db",
      "name": "Save to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "l4mcv4XhAixvuZBL",
          "name": "Repazoo PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \n  success: true, \n  scan_id: $('Structure Result for DB').item.json.scan_id,\n  message: 'Scan completed successfully',\n  result: $('Structure Result for DB').item.json.analysis_result\n} }}"
      },
      "id": "respond-webhook",
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1780,
        400
      ]
    }
  ],
  "connections": {
    "Webhook: Scan Request": {
      "main": [
        [
          {
            "node": "Extract Purpose & Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Purpose & Context": {
      "main": [
        [
          {
            "node": "Get Twitter Handle from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Twitter Handle from DB": {
      "main": [
        [
          {
            "node": "Merge Twitter Handle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Twitter Handle": {
      "main": [
        [
          {
            "node": "Ollama: AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama: AI Analysis": {
      "main": [
        [
          {
            "node": "Structure Result for DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Result for DB": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to PostgreSQL": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
