n8n/workflows/twitter-post-tweet.json
{
  "name": "Twitter - Post Tweet",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twitter/post-tweet",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-post-tweet",
      "name": "Webhook: Post Tweet",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "twitter-post-tweet"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cfy.repazoo.com/api/twitter/post",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-backend-api",
      "name": "Call Backend: Post Tweet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "tweet_history",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Webhook: Post Tweet').item.json.user_id }}",
            "tweet_id": "={{ $json.tweet_id }}",
            "tweet_text": "={{ $('Webhook: Post Tweet').item.json.text }}",
            "action": "post",
            "created_at": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "save-history",
      "name": "Save to History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "l4mcv4XhAixvuZBL",
          "name": "Repazoo PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Tweet posted successfully', tweet_id: $('Call Backend: Post Tweet').item.json.tweet_id, text: $('Webhook: Post Tweet').item.json.text } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: Post Tweet": {
      "main": [
        [
          {
            "node": "Call Backend: Post Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Backend: Post Tweet": {
      "main": [
        [
          {
            "node": "Save to History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to History": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
