n8n/workflows/twitter-delete-tweet.json
{
  "name": "Twitter - Delete Tweet",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twitter/delete-tweet",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-delete",
      "name": "Webhook: Delete Tweet",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "twitter-delete-tweet"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://cfy.repazoo.com/api/twitter/tweet/{{ $json.tweet_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-backend-delete",
      "name": "Call Backend: Delete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "tweet_history",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Webhook: Delete Tweet').item.json.user_id }}",
            "tweet_id": "={{ $('Webhook: Delete Tweet').item.json.tweet_id }}",
            "action": "delete",
            "created_at": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "save-delete-history",
      "name": "Save Delete History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "l4mcv4XhAixvuZBL",
          "name": "Repazoo PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Tweet deleted successfully', tweet_id: $('Webhook: Delete Tweet').item.json.tweet_id } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: Delete Tweet": {
      "main": [
        [
          {
            "node": "Call Backend: Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Backend: Delete": {
      "main": [
        [
          {
            "node": "Save Delete History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Delete History": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
